<!DOCTYPE html>
<!-- This website template was created by: Thuong Van  -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forward Fitness Club</title>
  </head>
  <body>
    <!-- Use the header area for the website name or logo  -->
    <header>
      Forward Fitness         Club
    </header>
    <!-- Use the nav area for hyperlinks to other pages within the website  -->
    <nav>
      Home &nbsp; &nbsp;
      About Us &nbsp; &nbsp;
      Classes &nbsp; &nbsp;
      Nutrition &nbsp; &nbsp;
      Contact
    </nav>
    <!-- Use the main area to add the main content of the website -->
    <main>
    </main>
    <!-- Use the footer area to add webpage footer content -->
    <footer>
      &copy; Copyright 2015. All Right Reserved.<br>
      forwardfitness@club.net
    </footer>
  </body>
</html>
